/*글자의 기본 스타일 및 wrapper/wrap 설정*/

body, html {
    font-family:"Libre Bodoni","Pretendard", "맑은고딕", "Malgun Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* sans-serif :고딕서체 */
    font-size: var(--base-font-size);
    font-weight: 400;
    color:  #1d1d1d;
    line-height: 1.4; /* 배수 - 글자크기에 몇배 */
    letter-spacing: -0.03em; /* 자간 */
    word-break: keep-all; /* 단어별로(여백기준) 줄바꿈 */
    word-wrap: break-word; /* 단어가 너무 길면 그걸 강제로 줄바꿈 하는 명령 */
}

/* pc 버전 css */
#wrap {
    position: relative; /*header, gnb 정렬의 기준 - wrap이 전체를 감싸기 때문*/
    overflow: hidden; /* wrap 영역 밖으로 나간 요소는 숨김처리함. absolute가 대부분 나감.*/
.wrapper {
    width: 1580px; /*너비가 고정으로 들어감.*/
    margin: 0 auto;
}
@media screen and (max-width:1770px){ /* 1770 = 1580 + (1580의 6%*2) */
    .wrapper {
        width: auto; 
        margin: 0 6%;
    }
}/*media*/


::selection {
    background-color: #59636D;
    color: #ECECEC;
}
::-moz-selection {
    background-color: #59636D;
    color: #ECECEC;
}

/* mobile 버전 css */
:root {
    --base-font-size: 17px;
    --header-h: 100px;
    --hader-depth2-h: 280px;
}
@media screen and (max-width:1440px){ /*16px*/
    :root {
        --base-font-size: 16px;
    }
} /* @media */
@media screen and (max-width:1024px){ /*15px*/
    :root {
        --base-font-size: 15px;
    }
} /* @media */
/* mobile 버전 css */
@media screen and (max-width:768px){ /*14px*/
    :root {
        --base-font-size: 14px;
        --header-h: 50px;
    }
} /* @media */
@media screen and (max-width:380px){ /*13px*/
    :root {
        --base-font-size: 13px;
    }
} /* @media */

