/* layout.css
header/footer 모든 페이지의 공통 스타일 적용 */

.skipnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    display: block;
    background-color: #517D21;
    color: #F6F9EC;
    padding: 10px 0;
    text-align: center;
}
.skipnav a.menu {
    background-color: #1C65A6;
}
.skipnav a:focus{
    top: 0;
}

/**---------header---------**/
header {
    position: fixed; /*무조건 body를 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 100%;
    height: var(--header-h);
    z-index: 100;
    padding: 0 20px;
    color: #F6F9EC;
    border-bottom: 1px solid rgba(255,255,255,0.2); /*헤더 하단에 선 그려주기*/

    /*위아래 가운데*/
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .logo a {
    display: block;
    width: 10.1em; /*171px*/
    height: 2.65em; /*45px*/
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;

    /*글자 없애는 방법
    font-size: 0;
    line-height: 0;
    */
    color: transparent;
    text-indent: -9000px;
}

@media screen and (min-width:1025px){ /*pc에서만 1025px 이상일 때*/
    header .gnb .gnb_open, header .gnb .gnb_wrap .gnb_close, header .gnb .gnb_wrap .m_lang {
        display: none; /*모바일에서만 보이도록*/
    }
     /*1차 메뉴*/
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 8.71em;   /*148px*/
        text-align: center;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: 82px;/*82px 기준:20px*/
        font-size: 1.1765rem; /*20px 기준:17px*/
        font-weight: 400;
    }
     /*2차 메뉴*/
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none;
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 8.71em;   /*148px*/
        padding: 20px 0 34px 0;
        color: #5E4523;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li {
        width: 100%;   /*148px*/
    } 
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        width: 100%;   /*148px*/
        height: 38px;
        line-height: 38px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover, header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus {
        color: #517D21;
        font-weight: 600;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li.window > a span {
        position: relative;
        left: -8px;
        top: 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li.window > a span::before {
        position: absolute;
        content: "";
        right: -1.4667em;
        top: 0;
        width: 1.1765em;        
        height: 1.1765em;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 17.5V2.5H10V4.16667H4.16667V15.8333H15.8333V10H17.5V17.5H2.5ZM8.08333 13.0833L6.91667 11.9167L14.6667 4.16667H11.6667V2.5H17.5V8.33333H15.8333V5.33333L8.08333 13.0833Z' fill='%235E4523'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    

    /* 2차메뉴가 열렸을 때 =메뉴에 마우스 오버했을 때 : header에 menu_pc 클래스가 추가 */
    header.menu_pc {
        color: #3F3114;
        background-color: #F6F9EC;
        box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.6);
    }
    header.menu_pc::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;        
        height: 383px;
        background-color: rgba(246,249,236,0.9);
        box-shadow: 2px 5px 5px 0 rgba(0,0,0,0.1);
    }
    header.menu_pc::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        width: 100%;        
        height: 1px;
        background-color: rgba(0,0,0,0.2);
        box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);
    }
    header.menu_pc .logo a {
        background-image: url(../images/common/logo.svg);
    }

    header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block; /*나타나게*/
    }
    header.menu_pc .tnb .search button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 21.5C10.6975 21.5 9.46833 21.2503 8.3125 20.751C7.15667 20.2517 6.14867 19.5718 5.2885 18.7115C4.42817 17.8513 3.74833 16.8433 3.249 15.6875C2.74967 14.5317 2.5 13.3025 2.5 12C2.5 10.6872 2.74967 9.45542 3.249 8.30475C3.74833 7.15408 4.42817 6.14867 5.2885 5.2885C6.14867 4.42817 7.15667 3.74833 8.3125 3.249C9.46833 2.74967 10.6975 2.5 12 2.5C13.3128 2.5 14.5446 2.74967 15.6953 3.249C16.8459 3.74833 17.8513 4.42817 18.7115 5.2885C19.5718 6.14867 20.2517 7.15408 20.751 8.30475C21.2503 9.45542 21.5 10.6872 21.5 12C21.5 13.3025 21.2503 14.5317 20.751 15.6875C20.2517 16.8433 19.5718 17.8513 18.7115 18.7115C17.8513 19.5718 16.8459 20.2517 15.6953 20.751C14.5446 21.2503 13.3128 21.5 12 21.5ZM12 19.9788C12.5103 19.3019 12.9398 18.6192 13.2885 17.9307C13.6372 17.2422 13.9212 16.4897 14.1405 15.673H9.8595C10.0917 16.5153 10.3789 17.2808 10.7213 17.9693C11.0634 18.6578 11.4897 19.3276 12 19.9788ZM10.0635 19.7038C9.68017 19.1538 9.33592 18.5285 9.03075 17.828C8.72558 17.1273 8.48842 16.409 8.31925 15.673H4.927C5.45517 16.7115 6.1635 17.584 7.052 18.2905C7.9405 18.9968 8.94433 19.4679 10.0635 19.7038ZM13.9365 19.7038C15.0557 19.4679 16.0595 18.9968 16.948 18.2905C17.8365 17.584 18.5448 16.7115 19.073 15.673H15.6807C15.4794 16.4153 15.2262 17.1368 14.921 17.8375C14.616 18.5382 14.2878 19.1603 13.9365 19.7038ZM4.298 14.173H8.0155C7.95267 13.8013 7.90708 13.4369 7.87875 13.0798C7.85058 12.7228 7.8365 12.3628 7.8365 12C7.8365 11.6372 7.85058 11.2773 7.87875 10.9203C7.90708 10.5631 7.95267 10.1987 8.0155 9.827H4.298C4.20183 10.1667 4.12817 10.5198 4.077 10.8865C4.02567 11.2532 4 11.6243 4 12C4 12.3757 4.02567 12.7468 4.077 13.1135C4.12817 13.4802 4.20183 13.8333 4.298 14.173ZM9.51525 14.173H14.4848C14.5474 13.8013 14.5929 13.4402 14.6212 13.0895C14.6494 12.7388 14.6635 12.3757 14.6635 12C14.6635 11.6243 14.6494 11.2612 14.6212 10.9105C14.5929 10.5598 14.5474 10.1987 14.4848 9.827H9.51525C9.45258 10.1987 9.40708 10.5598 9.37875 10.9105C9.35058 11.2612 9.3365 11.6243 9.3365 12C9.3365 12.3757 9.35058 12.7388 9.37875 13.0895C9.40708 13.4402 9.45258 13.8013 9.51525 14.173ZM15.9845 14.173H19.702C19.7982 13.8333 19.8718 13.4802 19.923 13.1135C19.9743 12.7468 20 12.3757 20 12C20 11.6243 19.9743 11.2532 19.923 10.8865C19.8718 10.5198 19.7982 10.1667 19.702 9.827H15.9845C16.0473 10.1987 16.0929 10.5631 16.1212 10.9203C16.1494 11.2773 16.1635 11.6372 16.1635 12C16.1635 12.3628 16.1494 12.7228 16.1212 13.0798C16.0929 13.4369 16.0473 13.8013 15.9845 14.173ZM15.6807 8.327H19.073C18.5385 7.27567 17.835 6.40317 16.9625 5.7095C16.09 5.016 15.0813 4.54167 13.9365 4.2865C14.3198 4.8685 14.6608 5.50508 14.9595 6.19625C15.2583 6.88725 15.4987 7.5975 15.6807 8.327ZM9.8595 8.327H14.1405C13.9083 7.491 13.6163 6.72075 13.2645 6.01625C12.9125 5.31175 12.491 4.64675 12 4.02125C11.509 4.64675 11.0875 5.31175 10.7355 6.01625C10.3837 6.72075 10.0917 7.491 9.8595 8.327ZM4.927 8.327H8.31925C8.50125 7.5975 8.74167 6.88725 9.0405 6.19625C9.33917 5.50508 9.68017 4.8685 10.0635 4.2865C8.91217 4.54167 7.90192 5.01767 7.03275 5.7145C6.16342 6.41117 5.4615 7.282 4.927 8.327Z' fill='%233F3114'/%3E%3C/svg%3E%0A");
    }
    header.menu_pc .tnb .lang button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5421 20.577L13.2613 14.296C12.7613 14.7088 12.1863 15.0319 11.5363 15.2653C10.8863 15.4986 10.2139 15.6153 9.51906 15.6153C7.80989 15.6153 6.36339 15.0235 5.17956 13.84C3.99573 12.6565 3.40381 11.2103 3.40381 9.50152C3.40381 7.79285 3.99556 6.34618 5.17906 5.16152C6.36256 3.97702 7.80873 3.38477 9.51756 3.38477C11.2262 3.38477 12.6729 3.97668 13.8576 5.16051C15.0421 6.34435 15.6343 7.79085 15.6343 9.50002C15.6343 10.2142 15.5145 10.8963 15.2748 11.5463C15.035 12.1963 14.7151 12.7616 14.3151 13.2423L20.5958 19.523L19.5421 20.577ZM9.51906 14.1155C10.8076 14.1155 11.8989 13.6683 12.7931 12.774C13.6874 11.8798 14.1346 10.7885 14.1346 9.50002C14.1346 8.21152 13.6874 7.12018 12.7931 6.22601C11.8989 5.33168 10.8076 4.88452 9.51906 4.88452C8.23056 4.88452 7.13923 5.33168 6.24506 6.22601C5.35073 7.12018 4.90356 8.21152 4.90356 9.50002C4.90356 10.7885 5.35073 11.8798 6.24506 12.774C7.13923 13.6683 8.23056 14.1155 9.51906 14.1155Z' fill='%233F3114'/%3E%3C/svg%3E%0A");
    }
    /* li에 over 추가*/
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        position: relative;
        font-weight: 700;
        /*
        color: #F6F9EC;
        background-color: #3F3114;
        border-radius: 30px 30px 0 0;*/
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100%;
        height: 6px;
        background-color: #3F3114;
        border-radius: 30px 30px 0 0;
    }
    /*li.over 일 때
    header .gnb .gnb_wrap ul.depth1 > liover > ul.depth2 {
        background-color: #3F3114;
        border-radius: 0 0 30px 30px;
        color: #F6F9EC;
    }*/

    header .tnb {
        display: flex;
        gap: 16px;
    }
    header .tnb .search button, header .tnb .lang button {
        display: block;
        width: 24px; /*24px*/
        height: 24px; /*24px*/
        position: relative;
        /*글자 없애는 방법*/
        color: transparent;
    }
    header .tnb .search button::before, header .tnb .lang button::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    header .tnb .search button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 21.5C10.6975 21.5 9.46833 21.2503 8.3125 20.751C7.15667 20.2517 6.14867 19.5718 5.2885 18.7115C4.42817 17.8513 3.74833 16.8433 3.249 15.6875C2.74967 14.5317 2.5 13.3025 2.5 12C2.5 10.6872 2.74967 9.45542 3.249 8.30475C3.74833 7.15408 4.42817 6.14867 5.2885 5.2885C6.14867 4.42817 7.15667 3.74833 8.3125 3.249C9.46833 2.74967 10.6975 2.5 12 2.5C13.3128 2.5 14.5446 2.74967 15.6953 3.249C16.8459 3.74833 17.8513 4.42817 18.7115 5.2885C19.5718 6.14867 20.2517 7.15408 20.751 8.30475C21.2503 9.45542 21.5 10.6872 21.5 12C21.5 13.3025 21.2503 14.5317 20.751 15.6875C20.2517 16.8433 19.5718 17.8513 18.7115 18.7115C17.8513 19.5718 16.8459 20.2517 15.6953 20.751C14.5446 21.2503 13.3128 21.5 12 21.5ZM12 19.9788C12.5103 19.3019 12.9398 18.6192 13.2885 17.9307C13.6372 17.2422 13.9212 16.4897 14.1405 15.673H9.8595C10.0917 16.5153 10.3789 17.2808 10.7213 17.9693C11.0634 18.6578 11.4897 19.3276 12 19.9788ZM10.0635 19.7038C9.68017 19.1538 9.33592 18.5285 9.03075 17.828C8.72558 17.1273 8.48842 16.409 8.31925 15.673H4.927C5.45517 16.7115 6.1635 17.584 7.052 18.2905C7.9405 18.9968 8.94433 19.4679 10.0635 19.7038ZM13.9365 19.7038C15.0557 19.4679 16.0595 18.9968 16.948 18.2905C17.8365 17.584 18.5448 16.7115 19.073 15.673H15.6807C15.4794 16.4153 15.2262 17.1368 14.921 17.8375C14.616 18.5382 14.2878 19.1603 13.9365 19.7038ZM4.298 14.173H8.0155C7.95267 13.8013 7.90708 13.4369 7.87875 13.0798C7.85058 12.7228 7.8365 12.3628 7.8365 12C7.8365 11.6372 7.85058 11.2773 7.87875 10.9203C7.90708 10.5631 7.95267 10.1987 8.0155 9.827H4.298C4.20183 10.1667 4.12817 10.5198 4.077 10.8865C4.02567 11.2532 4 11.6243 4 12C4 12.3757 4.02567 12.7468 4.077 13.1135C4.12817 13.4802 4.20183 13.8333 4.298 14.173ZM9.51525 14.173H14.4848C14.5474 13.8013 14.5929 13.4402 14.6212 13.0895C14.6494 12.7388 14.6635 12.3757 14.6635 12C14.6635 11.6243 14.6494 11.2612 14.6212 10.9105C14.5929 10.5598 14.5474 10.1987 14.4848 9.827H9.51525C9.45258 10.1987 9.40708 10.5598 9.37875 10.9105C9.35058 11.2612 9.3365 11.6243 9.3365 12C9.3365 12.3757 9.35058 12.7388 9.37875 13.0895C9.40708 13.4402 9.45258 13.8013 9.51525 14.173ZM15.9845 14.173H19.702C19.7982 13.8333 19.8718 13.4802 19.923 13.1135C19.9743 12.7468 20 12.3757 20 12C20 11.6243 19.9743 11.2532 19.923 10.8865C19.8718 10.5198 19.7982 10.1667 19.702 9.827H15.9845C16.0473 10.1987 16.0929 10.5631 16.1212 10.9203C16.1494 11.2773 16.1635 11.6372 16.1635 12C16.1635 12.3628 16.1494 12.7228 16.1212 13.0798C16.0929 13.4369 16.0473 13.8013 15.9845 14.173ZM15.6807 8.327H19.073C18.5385 7.27567 17.835 6.40317 16.9625 5.7095C16.09 5.016 15.0813 4.54167 13.9365 4.2865C14.3198 4.8685 14.6608 5.50508 14.9595 6.19625C15.2583 6.88725 15.4987 7.5975 15.6807 8.327ZM9.8595 8.327H14.1405C13.9083 7.491 13.6163 6.72075 13.2645 6.01625C12.9125 5.31175 12.491 4.64675 12 4.02125C11.509 4.64675 11.0875 5.31175 10.7355 6.01625C10.3837 6.72075 10.0917 7.491 9.8595 8.327ZM4.927 8.327H8.31925C8.50125 7.5975 8.74167 6.88725 9.0405 6.19625C9.33917 5.50508 9.68017 4.8685 10.0635 4.2865C8.91217 4.54167 7.90192 5.01767 7.03275 5.7145C6.16342 6.41117 5.4615 7.282 4.927 8.327Z' fill='%23F6F9EC'/%3E%3C/svg%3E%0A");
    }
    header .tnb .lang button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5421 20.577L13.2613 14.296C12.7613 14.7088 12.1863 15.0319 11.5363 15.2653C10.8863 15.4986 10.2139 15.6153 9.51906 15.6153C7.80989 15.6153 6.36339 15.0235 5.17956 13.84C3.99573 12.6565 3.40381 11.2103 3.40381 9.50152C3.40381 7.79285 3.99556 6.34618 5.17906 5.16152C6.36256 3.97702 7.80873 3.38477 9.51756 3.38477C11.2262 3.38477 12.6729 3.97668 13.8576 5.16051C15.0421 6.34435 15.6343 7.79085 15.6343 9.50002C15.6343 10.2142 15.5145 10.8963 15.2748 11.5463C15.035 12.1963 14.7151 12.7616 14.3151 13.2423L20.5958 19.523L19.5421 20.577ZM9.51906 14.1155C10.8076 14.1155 11.8989 13.6683 12.7931 12.774C13.6874 11.8798 14.1346 10.7885 14.1346 9.50002C14.1346 8.21152 13.6874 7.12018 12.7931 6.22601C11.8989 5.33168 10.8076 4.88452 9.51906 4.88452C8.23056 4.88452 7.13923 5.33168 6.24506 6.22601C5.35073 7.12018 4.90356 8.21152 4.90356 9.50002C4.90356 10.7885 5.35073 11.8798 6.24506 12.774C7.13923 13.6683 8.23056 14.1155 9.51906 14.1155Z' fill='%23F6F9EC'/%3E%3C/svg%3E%0A");
    }

} /* @media */




    /*배경이 흰색이라 header 글자가 검은색으로 나올 때 : dark 클래스 추가*/
    header.dark {
        color: #3F3114;
        border-color: rgba(0,0,0,0.2); /*헤더 하단에 선*/
        background-color: #F6F9EC;
    }
    header.dark .logo a {
        background-image: url(../images/common/logo.svg);
    }

    header.dark .tnb .search button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 21.5C10.6975 21.5 9.46833 21.2503 8.3125 20.751C7.15667 20.2517 6.14867 19.5718 5.2885 18.7115C4.42817 17.8513 3.74833 16.8433 3.249 15.6875C2.74967 14.5317 2.5 13.3025 2.5 12C2.5 10.6872 2.74967 9.45542 3.249 8.30475C3.74833 7.15408 4.42817 6.14867 5.2885 5.2885C6.14867 4.42817 7.15667 3.74833 8.3125 3.249C9.46833 2.74967 10.6975 2.5 12 2.5C13.3128 2.5 14.5446 2.74967 15.6953 3.249C16.8459 3.74833 17.8513 4.42817 18.7115 5.2885C19.5718 6.14867 20.2517 7.15408 20.751 8.30475C21.2503 9.45542 21.5 10.6872 21.5 12C21.5 13.3025 21.2503 14.5317 20.751 15.6875C20.2517 16.8433 19.5718 17.8513 18.7115 18.7115C17.8513 19.5718 16.8459 20.2517 15.6953 20.751C14.5446 21.2503 13.3128 21.5 12 21.5ZM12 19.9788C12.5103 19.3019 12.9398 18.6192 13.2885 17.9307C13.6372 17.2422 13.9212 16.4897 14.1405 15.673H9.8595C10.0917 16.5153 10.3789 17.2808 10.7213 17.9693C11.0634 18.6578 11.4897 19.3276 12 19.9788ZM10.0635 19.7038C9.68017 19.1538 9.33592 18.5285 9.03075 17.828C8.72558 17.1273 8.48842 16.409 8.31925 15.673H4.927C5.45517 16.7115 6.1635 17.584 7.052 18.2905C7.9405 18.9968 8.94433 19.4679 10.0635 19.7038ZM13.9365 19.7038C15.0557 19.4679 16.0595 18.9968 16.948 18.2905C17.8365 17.584 18.5448 16.7115 19.073 15.673H15.6807C15.4794 16.4153 15.2262 17.1368 14.921 17.8375C14.616 18.5382 14.2878 19.1603 13.9365 19.7038ZM4.298 14.173H8.0155C7.95267 13.8013 7.90708 13.4369 7.87875 13.0798C7.85058 12.7228 7.8365 12.3628 7.8365 12C7.8365 11.6372 7.85058 11.2773 7.87875 10.9203C7.90708 10.5631 7.95267 10.1987 8.0155 9.827H4.298C4.20183 10.1667 4.12817 10.5198 4.077 10.8865C4.02567 11.2532 4 11.6243 4 12C4 12.3757 4.02567 12.7468 4.077 13.1135C4.12817 13.4802 4.20183 13.8333 4.298 14.173ZM9.51525 14.173H14.4848C14.5474 13.8013 14.5929 13.4402 14.6212 13.0895C14.6494 12.7388 14.6635 12.3757 14.6635 12C14.6635 11.6243 14.6494 11.2612 14.6212 10.9105C14.5929 10.5598 14.5474 10.1987 14.4848 9.827H9.51525C9.45258 10.1987 9.40708 10.5598 9.37875 10.9105C9.35058 11.2612 9.3365 11.6243 9.3365 12C9.3365 12.3757 9.35058 12.7388 9.37875 13.0895C9.40708 13.4402 9.45258 13.8013 9.51525 14.173ZM15.9845 14.173H19.702C19.7982 13.8333 19.8718 13.4802 19.923 13.1135C19.9743 12.7468 20 12.3757 20 12C20 11.6243 19.9743 11.2532 19.923 10.8865C19.8718 10.5198 19.7982 10.1667 19.702 9.827H15.9845C16.0473 10.1987 16.0929 10.5631 16.1212 10.9203C16.1494 11.2773 16.1635 11.6372 16.1635 12C16.1635 12.3628 16.1494 12.7228 16.1212 13.0798C16.0929 13.4369 16.0473 13.8013 15.9845 14.173ZM15.6807 8.327H19.073C18.5385 7.27567 17.835 6.40317 16.9625 5.7095C16.09 5.016 15.0813 4.54167 13.9365 4.2865C14.3198 4.8685 14.6608 5.50508 14.9595 6.19625C15.2583 6.88725 15.4987 7.5975 15.6807 8.327ZM9.8595 8.327H14.1405C13.9083 7.491 13.6163 6.72075 13.2645 6.01625C12.9125 5.31175 12.491 4.64675 12 4.02125C11.509 4.64675 11.0875 5.31175 10.7355 6.01625C10.3837 6.72075 10.0917 7.491 9.8595 8.327ZM4.927 8.327H8.31925C8.50125 7.5975 8.74167 6.88725 9.0405 6.19625C9.33917 5.50508 9.68017 4.8685 10.0635 4.2865C8.91217 4.54167 7.90192 5.01767 7.03275 5.7145C6.16342 6.41117 5.4615 7.282 4.927 8.327Z' fill='%233F3114'/%3E%3C/svg%3E%0A");
    }
    header.dark .tnb .lang button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5421 20.577L13.2613 14.296C12.7613 14.7088 12.1863 15.0319 11.5363 15.2653C10.8863 15.4986 10.2139 15.6153 9.51906 15.6153C7.80989 15.6153 6.36339 15.0235 5.17956 13.84C3.99573 12.6565 3.40381 11.2103 3.40381 9.50152C3.40381 7.79285 3.99556 6.34618 5.17906 5.16152C6.36256 3.97702 7.80873 3.38477 9.51756 3.38477C11.2262 3.38477 12.6729 3.97668 13.8576 5.16051C15.0421 6.34435 15.6343 7.79085 15.6343 9.50002C15.6343 10.2142 15.5145 10.8963 15.2748 11.5463C15.035 12.1963 14.7151 12.7616 14.3151 13.2423L20.5958 19.523L19.5421 20.577ZM9.51906 14.1155C10.8076 14.1155 11.8989 13.6683 12.7931 12.774C13.6874 11.8798 14.1346 10.7885 14.1346 9.50002C14.1346 8.21152 13.6874 7.12018 12.7931 6.22601C11.8989 5.33168 10.8076 4.88452 9.51906 4.88452C8.23056 4.88452 7.13923 5.33168 6.24506 6.22601C5.35073 7.12018 4.90356 8.21152 4.90356 9.50002C4.90356 10.7885 5.35073 11.8798 6.24506 12.774C7.13923 13.6683 8.23056 14.1155 9.51906 14.1155Z' fill='%233F3114'/%3E%3C/svg%3E%0A");
    }
    header.dark .gnb .gnb_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 32.055V30.6264H35V32.055H15ZM15 25.2418V23.8132H35V25.2418H15ZM15 18.4286V17H35V18.4286H15Z' fill='%233F3114'/%3E%3C/svg%3E%0A");
    }










@media screen and (max-width:1024px){ /*14px    -모바일 버전*/
    header {
        padding: 0 0 0 20px;
    }
    header .gnb .gnb_open {
        position: relative;
        right: 0;
        top: 0;
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 32.055V30.6264H35V32.055H15ZM15 25.2418V23.8132H35V25.2418H15ZM15 18.4286V17H35V18.4286H15Z' fill='%23FAF6E8'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    header .gnb .gnb_wrap {
        /*transform: translateX(120%); display: none;으로 안보이게 하는 게 아니라 transform으로 안보이게 했다가 열리게 할 것임
        transform은 자기 자신을 기준으로 하기 때문에 위치가 가변적이어도 이렇게 들어갈 수 있음*/
        transition: right 0.8s;
        position: absolute; /*header를 기준으로 정렬, gnb_close의 정렬의 기준*/
        right: -100%;
        top: 0;
        z-index: 100;
        width: 100%;
        max-width: 330px;
        height: 100dvh;
        background-color: #F6F9EC;
        color: #3F3114;
         /*padding: 0 24px;*/
    }
    /* menu_mo가 추가됐을 때*/
    header.menu_mo .gnb .gnb_wrap {
        right: 0;
    }
    /*메뉴가 열렸을 때 뒤에 검정색으로 어둡게 해주는 거 - 이 코딩 방식에서는 안됨. div를 줘서 해야 함.*/
    header.menu_mo .gnb .gnb_wrap::before {
        display: block;
    }





    

    /*모바일에서 조금이라도 스크롤 될 때 header.fixed*/
    header.fixed {
        background-color: #F6F9EC;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
    header.fixed .logo a {
        background-image: url(../images/common/logo.svg);
    }
    header.fixed .tnb .search button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='50' viewBox='0 0 30 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.5425 33.577L16.2618 27.296C15.7618 27.7088 15.1868 28.0319 14.5368 28.2653C13.8868 28.4986 13.2144 28.6153 12.5195 28.6153C10.8104 28.6153 9.36388 28.0235 8.18005 26.84C6.99621 25.6565 6.4043 24.2103 6.4043 22.5015C6.4043 20.7928 6.99605 19.3462 8.17955 18.1615C9.36305 16.977 10.8092 16.3848 12.518 16.3848C14.2267 16.3848 15.6734 16.9767 16.858 18.1605C18.0425 19.3443 18.6348 20.7908 18.6348 22.5C18.6348 23.2142 18.515 23.8963 18.2753 24.5463C18.0355 25.1963 17.7155 25.7616 17.3155 26.2423L23.5963 32.523L22.5425 33.577ZM12.5195 27.1155C13.808 27.1155 14.8994 26.6683 15.7935 25.774C16.6879 24.8798 17.135 23.7885 17.135 22.5C17.135 21.2115 16.6879 20.1202 15.7935 19.226C14.8994 18.3317 13.808 17.8845 12.5195 17.8845C11.231 17.8845 10.1397 18.3317 9.24555 19.226C8.35121 20.1202 7.90405 21.2115 7.90405 22.5C7.90405 23.7885 8.35121 24.8798 9.24555 25.774C10.1397 26.6683 11.231 27.1155 12.5195 27.1155Z' fill='%233F3114'/%3E%3C/svg%3E%0A");
    }
    header.fixed .gnb .gnb_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 32.055V30.6264H35V32.055H15ZM15 25.2418V23.8132H35V25.2418H15ZM15 18.4286V17H35V18.4286H15Z' fill='%233F3114'/%3E%3C/svg%3E%0A");
    }





    header .gnb .gnb_wrap::before {
        display: none;
        content: "";
        position: absolute; /*body를 기준으로 정렬*/
        left: -200vw;
        top: var(--header-h); /*나중에 검정색 배경 까는 거 div로 바꿀 때 0으로,,,바꿔주기*/
        width: 400vw;
        height: 100vh;
        z-index: -1;
        background-color: rgba(0,0,0,0.6);
    }

    header .gnb .gnb_wrap > ul.depth1 {
        background-color: #F6F9EC;
        margin-top: var(--header-h);
        height: calc(100dvh - var(--header-h));
        overflow-y: auto;
        color: #3F3114;
        position: relative;
    }
    header .gnb .gnb_wrap > ul.depth1::before {
        position: absolute; /*depth1을 기준으로 정렬*/
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background-color: #3F3114;
    }
    header .gnb .gnb_wrap > ul.depth1 > li {
        margin: 10px 24px 10px 24px;
    }

    header .gnb .gnb_wrap > ul.depth1 > li > a {
        display: block;
        line-height: 42px;
        /*border-bottom: 0.5px solid #3F3114;*/
        font-size: 17px;
        font-weight: 400;
        padding: 0 24px 0 8px;
        position: relative; /*before의 정렬의 기준*/
    }
    header .gnb .gnb_wrap > ul.depth1 > li > a::before {/*메뉴 열기 화살표 아이콘*/
        content: "";
        position: absolute; /*a를 기준으로 정렬*/
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9995 15.0542L6.3457 9.40043L7.39945 8.34668L11.9995 12.9467L16.5995 8.34668L17.6532 9.40043L11.9995 15.0542Z' fill='%233F3114'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    header .gnb .gnb_wrap > ul.depth1 > li > ul.depth2 {
        display: none;
        background-color: #3F3114;
        border-top: 0.5px solid #F6F9EC;
        border-radius: 1.5em;
        padding: 26px 0 26px 22px;
        color: #F6F9EC;
    }
    header .gnb .gnb_wrap > ul.depth1 > li > ul.depth2 > li > a {
        line-height: 30px;
        border-bottom: 0.5px solid #3F3114;
        background-color: #3F3114;
        color: #F6F9EC;
        font-weight: 400;
        padding: 0 24px 0 8px;
    }
    header .gnb .gnb_wrap > ul.depth1 > li.open > a {
        padding: 12px 0 7px 0;
        border-bottom: 0;
        font-weight: 700;
    }
    header .gnb .gnb_wrap > ul.depth1 > li.open > ul.depth2 {
        display: block;
    }
    
    header .gnb .gnb_wrap > ul.depth1 > li.open > a::before {/*메뉴 열기 화살표 아이콘*/
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0005 8.94582L17.6543 14.5996L16.6005 15.6533L12.0005 11.0533L7.40055 15.6533L6.3468 14.5996L12.0005 8.94582Z' fill='%233F3114'/%3E%3C/svg%3E%0A");
    }

    header .gnb .gnb_wrap > ul.depth1 > li > ul.depth2 > li.window  > a > span {
        position: relative; /*before의 정렬의 기준*/
    }
    header .gnb .gnb_wrap > ul.depth1 > li > ul.depth2 > li.window > a span::before { /*나의 후원 바로가기 -새창 아이콘*/
        content: "";
        position: absolute; /*a를 기준으로 정렬*/
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 1em;
        height: 1em;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 12.25V1.75H7V2.91667H2.91667V11.0833H11.0833V7H12.25V12.25H1.75ZM5.65833 9.15833L4.84167 8.34167L10.2667 2.91667H8.16667V1.75H12.25V5.83333H11.0833V3.73333L5.65833 9.15833Z' fill='%23F6F9EC'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    header .gnb .gnb_wrap .m_lang {
        position: absolute; /*gnb_wrap를 기준으로 정렬*/
        left: 20px;
        top: 0;
        line-height: var(--header-h);
        padding-left: 28px;
    }
    header .gnb .gnb_wrap .m_lang::before { /*언어선택 아이콘*/
        content: "";
        position: absolute; /*m_lang를 기준으로 정렬*/
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 22px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 21.5C10.6975 21.5 9.46833 21.2503 8.3125 20.751C7.15667 20.2517 6.14867 19.5718 5.2885 18.7115C4.42817 17.8513 3.74833 16.8433 3.249 15.6875C2.74967 14.5317 2.5 13.3025 2.5 12C2.5 10.6872 2.74967 9.45542 3.249 8.30475C3.74833 7.15408 4.42817 6.14867 5.2885 5.2885C6.14867 4.42817 7.15667 3.74833 8.3125 3.249C9.46833 2.74967 10.6975 2.5 12 2.5C13.3128 2.5 14.5446 2.74967 15.6953 3.249C16.8459 3.74833 17.8513 4.42817 18.7115 5.2885C19.5718 6.14867 20.2517 7.15408 20.751 8.30475C21.2503 9.45542 21.5 10.6872 21.5 12C21.5 13.3025 21.2503 14.5317 20.751 15.6875C20.2517 16.8433 19.5718 17.8513 18.7115 18.7115C17.8513 19.5718 16.8459 20.2517 15.6953 20.751C14.5446 21.2503 13.3128 21.5 12 21.5ZM12 19.9788C12.5103 19.3019 12.9398 18.6192 13.2885 17.9307C13.6372 17.2422 13.9212 16.4897 14.1405 15.673H9.8595C10.0917 16.5153 10.3789 17.2808 10.7213 17.9693C11.0634 18.6578 11.4897 19.3276 12 19.9788ZM10.0635 19.7038C9.68017 19.1538 9.33592 18.5285 9.03075 17.828C8.72558 17.1273 8.48842 16.409 8.31925 15.673H4.927C5.45517 16.7115 6.1635 17.584 7.052 18.2905C7.9405 18.9968 8.94433 19.4679 10.0635 19.7038ZM13.9365 19.7038C15.0557 19.4679 16.0595 18.9968 16.948 18.2905C17.8365 17.584 18.5448 16.7115 19.073 15.673H15.6807C15.4794 16.4153 15.2262 17.1368 14.921 17.8375C14.616 18.5382 14.2878 19.1603 13.9365 19.7038ZM4.298 14.173H8.0155C7.95267 13.8013 7.90708 13.4369 7.87875 13.0798C7.85058 12.7228 7.8365 12.3628 7.8365 12C7.8365 11.6372 7.85058 11.2773 7.87875 10.9202C7.90708 10.5631 7.95267 10.1987 8.0155 9.827H4.298C4.20183 10.1667 4.12817 10.5198 4.077 10.8865C4.02567 11.2532 4 11.6243 4 12C4 12.3757 4.02567 12.7468 4.077 13.1135C4.12817 13.4802 4.20183 13.8333 4.298 14.173ZM9.51525 14.173H14.4848C14.5474 13.8013 14.5929 13.4402 14.6212 13.0895C14.6494 12.7388 14.6635 12.3757 14.6635 12C14.6635 11.6243 14.6494 11.2612 14.6212 10.9105C14.5929 10.5598 14.5474 10.1987 14.4848 9.827H9.51525C9.45258 10.1987 9.40708 10.5598 9.37875 10.9105C9.35058 11.2612 9.3365 11.6243 9.3365 12C9.3365 12.3757 9.35058 12.7388 9.37875 13.0895C9.40708 13.4402 9.45258 13.8013 9.51525 14.173ZM15.9845 14.173H19.702C19.7982 13.8333 19.8718 13.4802 19.923 13.1135C19.9743 12.7468 20 12.3757 20 12C20 11.6243 19.9743 11.2532 19.923 10.8865C19.8718 10.5198 19.7982 10.1667 19.702 9.827H15.9845C16.0473 10.1987 16.0929 10.5631 16.1212 10.9202C16.1494 11.2773 16.1635 11.6372 16.1635 12C16.1635 12.3628 16.1494 12.7228 16.1212 13.0798C16.0929 13.4369 16.0473 13.8013 15.9845 14.173ZM15.6807 8.327H19.073C18.5385 7.27567 17.835 6.40317 16.9625 5.7095C16.09 5.016 15.0813 4.54167 13.9365 4.2865C14.3198 4.8685 14.6608 5.50508 14.9595 6.19625C15.2583 6.88725 15.4987 7.5975 15.6807 8.327ZM9.8595 8.327H14.1405C13.9083 7.491 13.6163 6.72075 13.2645 6.01625C12.9125 5.31175 12.491 4.64675 12 4.02125C11.509 4.64675 11.0875 5.31175 10.7355 6.01625C10.3837 6.72075 10.0917 7.491 9.8595 8.327ZM4.927 8.327H8.31925C8.50125 7.5975 8.74167 6.88725 9.0405 6.19625C9.33917 5.50508 9.68017 4.8685 10.0635 4.2865C8.91217 4.54167 7.90192 5.01767 7.03275 5.7145C6.16342 6.41117 5.4615 7.282 4.927 8.327Z' fill='%233F3114'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    header .gnb .gnb_wrap .gnb_close {
        position: absolute; /*gnb_wrap를 기준으로 정렬*/
        right: 0;
        top: 0;
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_wrap .gnb_close::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1086 32L18 30.8914L23.8914 25L18 19.1086L19.1086 18L25 23.8914L30.8914 18L32 19.1086L26.1086 25L32 30.8914L30.8914 32L25 26.1086L19.1086 32Z' fill='%233F3114'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    header .tnb {
        position: absolute; /*header를 기준으로 정렬*/
        right: 50px;
        top: 0;
    }
    header .tnb .search button {
        width: 40px;
        height: var(--header-h);
        font-size: 0;
        line-height: 0;
        position: relative; /* before 정렬의 기준*/
    }
    header .tnb .search button::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='50' viewBox='0 0 30 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.5425 33.577L16.2618 27.296C15.7618 27.7088 15.1868 28.0319 14.5368 28.2653C13.8868 28.4986 13.2144 28.6153 12.5195 28.6153C10.8104 28.6153 9.36388 28.0235 8.18005 26.84C6.99621 25.6565 6.4043 24.2103 6.4043 22.5015C6.4043 20.7928 6.99605 19.3462 8.17955 18.1615C9.36305 16.977 10.8092 16.3848 12.518 16.3848C14.2267 16.3848 15.6734 16.9767 16.858 18.1605C18.0425 19.3443 18.6348 20.7908 18.6348 22.5C18.6348 23.2142 18.515 23.8963 18.2753 24.5463C18.0355 25.1963 17.7155 25.7616 17.3155 26.2423L23.5963 32.523L22.5425 33.577ZM12.5195 27.1155C13.808 27.1155 14.8994 26.6683 15.7935 25.774C16.6879 24.8798 17.135 23.7885 17.135 22.5C17.135 21.2115 16.6879 20.1202 15.7935 19.226C14.8994 18.3317 13.808 17.8845 12.5195 17.8845C11.231 17.8845 10.1397 18.3317 9.24555 19.226C8.35121 20.1202 7.90405 21.2115 7.90405 22.5C7.90405 23.7885 8.35121 24.8798 9.24555 25.774C10.1397 26.6683 11.231 27.1155 12.5195 27.1155Z' fill='%23FAF6E8'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    header .tnb .lang {
        display: none;
    }
    header .logo a {
        display: block;
        width: 7.29em; /*102px*/
        height: 1.93em; /*27px*/
    }


} /* @media */










@media screen and (max-width:768px){ /*13px*/   

} /* @media */





/**--------footer--------**/
footer {
    background-color: #517D21;
    font-size: 60px;
    color: #fff;
    text-align: center;
    height: 600px;
    padding: 200px 0 200px 0;
}