body, html {
    font-family: "Pretendard", "Gmarket Sans", sans-serif;
    font-size: 17px;
    font-weight: 400; /*regular*/
    color: #2d2d2d;
    line-height: 1.4;
    letter-spacing: 0;
    word-break: keep-all;
}
.wrapper {
    /* 디자인 파일에 레이아웃 그리드처럼 홈페이지 영역을 제한하고 브라우저에 가운데 정렬을 할 수 있게 해준다. */
    width: 1260px;
    margin: 0 auto;
}
#wrap  {
    min-width :1300px /*콘텐츠 영역이 1260px 좌우여백 20px씩 해서 1260 + 20*2 = 1300*/
}/* id 요소는 # 으로, class 요소는 . 으로 */

.visual h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 700;
}