/*본고딕(Noto Sans KR)가져오는 방법 : '구글폰트' 사이트에서 'Noto Sans KR'검색 후 import 코드 복붙,
body에서 font-family 코드 복붙하기*/
@import url(default.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif, "Noto Serif KR", serif; /*폰트*/
    font-size: 17px; /*폰트 사이즈*/
    font-weight: 400; /*폰트 두께 regular*/
    color: #3d3d3d; /*폰트 색상*/
    line-height: 1.4; /*행간*/
    letter-spacing: -0.02em; /*자간; -20 줬을 때*/
    word-break: keep-all; /*단어로 줄바꿈*/
    word-wrap: break-word; /*단어가 너무 길어서 줄바꿈이 안될 때 강제로 줄바꿈
    keep-all때문에 발생하는 오류(여백을 기준으로 단어 단위로 줄바꿈하는 오류)를 수정하기 위함*/
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
#wrap {
    min-width: 1300px; 
    /*브라우저의 최소넓이를 지정하는 코드임
    -작은 브라우저에서 가로 스크롤이 생기면 배경이 잘리기 때문
    -wrapper에서 지정한 width에 좌우여백 20px씩 준값 
    1260 + 40 = 1300px*/
    
}
h1 {
    font-size: inherit; /* 브라우저가 주는 글자크기 적용x*/
    font-weight: inherit;
}
header {
    height: 100px; /*header는 일반적으로 100px을 줌*/
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 36px 0 0 0;
}
header .gnb ul {
    display: flex;
    justify-content: space-between;
}
header .gnb ul li a {
    color: #202020;
    padding: 38px 21px;
    display: block;
    /*a태그는 block무조건 또는 inline-block을 줘야 함*/
}

.visual {
    background: url(../images/visual_bg.png) no-repeat center center / cover; /*반복여부 위아래위치 양옆위치 꽉꽉채워서*/
    height: 800px;
    color: #fff;
    text-align: right;
}
.visual h2 {
    font-size: 40px;
    padding: 187px 0 14px 0;
    line-height: 1.2;
}
.visual h2 strong {
    font-weight: 700;
}

.business {
    margin: 100px 0 70px 0;
}
.business .title {
    text-align: start;
    margin: 100px 0 30px 0
}
.business .title .point {
    color: #0F1921;
    font-weight: 700;
}
.business .title h2 {
    color: #1d1d1d;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 10px 0;
}
.business .list ul {
    display: flex;
    justify-content: space-between;
}
.business .list ul li {
    width: 297px;
}
.business .list ul li a {
    display: block; /*a태그에는 무조건 block 주기!*/
}
.business .list ul li a .inner {
    margin: 20px 0 0 0;
}
.business .list ul li a h3 {
    color: #0F1921;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 6px 0; 
}
.business .list ul li a .more {
    border-bottom: 1px solid #3d3d3d;
    display: block; /*인라인태그인 span 태그를 블록태그로 바꿔줌*/
    margin: 20px 0 0 0;
    padding: 12px 0;
    text-align: end;
}
.business .list ul li a .more:hover {
    border-bottom: 1px solid #E54525;
    color: #E54525;
}
.brand {
    background: url(../images/brand_bg.png) no-repeat center center / cover; /*반복여부 위아래위치 양옆위치 꽉꽉채워서*/
    height: 800px;
    width: 100%;
    color: #fff;
    text-align: end;
}
.brand h2 {
    font-family: "Noto Serif KR", serif; 
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    padding: 400px 0 0 0 ;
}
.brand h4 {
    font-size: 25px;
    margin: 23px 0 12px 0;
}
.brand .more {
    margin: 20px 0 0 0;
}
.brand .more a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 15px 58px;
}
.brand .more a:hover {
    background-color: #fff;
    border-color:  #fff; 
    color: #0F1921;
    font-weight: 600;
    /*만약 border가 있던 버튼에 마우스를 오버해서 배경색을 줫다면 border색상도 같은 색상으로 줘야함. 
    border를 빼면 넓이와 높이가 변경됨.*/
}

footer {
    background-color: #0F1921;
    color: rgba(255,255,255,0.8); /*투명도opercerty 주는 방법*/
    padding: 100px 0 130px 0;
}

footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin: 0 42px 0 0;
}
footer .f_nav ul li:last-child {
    margin-right: 0;
}
footer .f_nav ul li.privacy {
    font-weight: 900;
}
/*li.privacy(띄어쓰기 없음) 라는 의미는 <li class="privacy"> 이렇게 코딩된 요소를 선택하라는 의미
li .privacy(띄어쓰기 있음) 라는 의미는 <li><div class="privacy"> li 안에 privacy라는 클래스를 가진 요소*/
footer .f_info {
    margin: 15px 0 30px 0;
}
footer .f_info span {
    margin: 0 15px 0 0; 
    /*span태그는 인라인태그라 margin 속성이 안들어가지만 위아래 여백만 안들어가고 옆 여백은 들어감.*/
    display: inline-block;
}
footer .copyright {
    color: rgba(255,255,255,0.6);
}